<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<% if @user.image.file.nil? %>
  <% else %>
  <%= image_tag @user.image.url %>
<% end %>

<%= link_to "プロフィールを編集", edit_user_path(@user.id) %>